/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Generico */
html {
    font-family: 'Concert One', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* Header */
.container {
    text-align: center;
    padding: 30px 70px;
    margin: 0px 100px;
}

h1 {
    font-size: 50px;
    color: #e53170;
    text-shadow: 1px 1px black;
}

.titolo {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}


/* Main */

p{
    padding-bottom: 30px;
}

/* Creazione sezione membro */
section {
    box-shadow: 2px 2px 5px black;
    background-color: #0f0e17;
    text-align: left;
    color: #ffffff;
    width: 350px;
}
/* Scritte al suo interno */
.mail {
    color: #5cc8f2;
    padding: 10px;
    padding-left: 120px;
}

.job {
    padding-left: 120px;
}

h3 {
    padding: 11px;
    padding-left: 120px;
}
/* Avatar */
img {
    width: 100px;
    float: left;

}
