/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Generico */
html {
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* Header */
.container {
    text-align: center;
    max-width: 1200px;
    /* padding: 30px 400px;
    margin: 0px 100px; */
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    color: #e53170;
    text-shadow: 1px 1px black;
}

.titolo {
    width: 100%;
    text-align: center;
    padding: 40px ;
}


/* Main */

p{
    padding-bottom: 30px;
    font-size: 20px;
}

main {
    text-align: center;
}
/* Creazione sezione membro */
.card {
    box-shadow: 2px 2px 5px black;
    background-color: #0f0e17;
    text-align: left;
    color: #ffffff;
    width: 370px;
    float: left;
    margin: 20px 15px 35px 15px;
}
/* Scritte al suo interno */
.mail {
    color: #5cc8f2;
    padding: 10px;
}

h3 {
    padding: 11px;
}
/* Avatar */
img {
    width: 100px;
    float: left;
    margin-right: 12px;

}
